!!!
html
  head

  body

    div
      a(href="http://localhost:8888/login")="Login"
    div 
      a(href="http://localhost:8888/ideas")="Ideas"
    div
      a(href="http://localhost:8888/logout")="Logout"
