!!! 5
html
  head

  body

    if (typeof(message) !== undefined && message != null && message != "")
      p #{message}  
    else
      form(method='post', action='/login')
        div
          label Email:
            input(name='email', type='text')
        div
          label Password:
            input(name='password', type='password')

        div
          input(type='submit', value='Submit')
