<!DOCTYPE HTML>
<html ng-app="ideaService">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Coideate | Log In</title>
<link rel="stylesheet" href="css/login.css" media="screen" />
<link rel="stylesheet" href="css/main.css" />
</head>

<body ng-controller="LoginCtrl">
<div id="containerLogin">
<img src="img/Co-Ideate_Logo-logIn.png" width="416" height="83" alt="coideate, idea capturing app" />
  <form ng-submit="login()">
    <p><strong>User ID</strong><br />
      <input type="text" ng-model="user.email" />
    </p>
    <p><strong>Password</strong><br />
      <input type="password" ng-model="user.password" />
    </p>

    <p><button type="submit" class="login" >Log in</button></p>
  </form>

<p><a href="#">Register</a>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<!-- <script src="lib/angular/angular.js"> </script> -->
<script src="js/app.js"> </script>
<script src="js/services.js"> </script>
<script src="js/controllers.js"> </script>
<script src="js/filters.js"> </script>
<script src="js/directives.js"> </script>

</body>
</html>
