<section>
<h3>{{ idea.name }} </h3>

<textarea>
Idea {{idea.id}} details. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non malesuada augue. Donec faucibus nisi vitae lorem molestie nec vestibulum nunc pellentesque. Cras consequat ullamcorper erat, non feugiat eros tempor ac. Morbi dapibus, leo ut faucibus fringilla, sem dui vulputate est, a congue risus mi eget erat. Vivamus quis urna ut tellus hendrerit ultrices in ut massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ante sed metus pharetra tempus vitae vel nibh. Donec adipiscing laoreet sapien. Fusce accumsan consectetur dolor, et interdum libero imperdiet ut. Suspendisse purus urna, pharetra et interdum eget, lacinia nec nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc vestibulum imperdiet tellus, ut sagittis est volutpat vel. Ut vel justo eget orci tincidunt elementum.
</textarea>

</section>
